<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.gms.gearhead"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:hasCode="false" />
    <overlay android:targetPackage="android" android:priority="1337" android:isStatic="true" />
</manifest>
